.intro {
    height: 209.23px;

    .right {
        display: none;
    }

    .left {
        display: none;
    }

    .description {
        transform: translate(-7%, -8%);

        h1 {
            font-size: 25px;
            line-height: 72px;
        }

        h2 {
            transform: translate(-1%, 4%);
            font-size: 30px;
            line-height: 16px;
            word-spacing: -4px;
        }

        p {
            margin-bottom: 10px;
            transform: translate(-1%, 21%);
            font-size: 7.5px;
            word-spacing: -.9px;
        }

        .button {
            width: 64px;
            height: 19px;
            transform: translate(-3%, 28%);
            font-size: 7px;
            line-height: 13px;
            text-align: center;

            &::before {
                width: 57px;
                height: 12px;
            }
        }
    }
}
