.intro {
    height: 209.23px;

    .right {
        display: none;
    }

    .left {
        display: none;
    }

    .description {
        transform: translate(-7%, -8%);

        h1 {
            font-size: 25px;
            line-height: 72px;
        }

        h2 {
            font-size: 30px;
            line-height: 16px;
            transform: translate(-1%, 4%);
            word-spacing: -4px;
        }

        p {
            font-size: 7.5px;
            transform: translate(-1%, 21%);
            word-spacing: -0.9px;
            margin-bottom: 10px;
        }

        .button {
            width: 64px;
            height: 19px;
            font-size: 7px;
            line-height: 13px;
            transform: translate(-3%, 28%);
            text-align: center;

            &:before {
                width: 57px;
                height: 12px;
            }



        }
    }

}