
.intro {
    height: 596px;

    .right {
        display: none;
    }

    .left {
        display: none;
    }

    .description {
        transform: translate(2%, -5%);

        h1 {
            transform: translateX(-3%);
            word-spacing: -9px;
        }

        h2 {
            transform: translate(-2%, -1%);
            word-spacing: -2px;
        }

        p {
            transform: translate(-2%, -7%);
            letter-spacing: -.6px;
        }

        .button {
            transform: translate(-11%, -18%);
        }
    }
}
