
.about {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 813px;

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        height: 580px;
        margin-top: 116px;

        .about-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 68px;

            .whoweare {
                color: $color-2;
                font-family: 'Raleway', sans-serif;
                font-size: 31px;
                font-weight: 800;
                line-height: 34px;
                text-transform: uppercase;

                span {
                    color: $color-3;
                }
            }

            .icon-under {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 117px;
                transform: translate(0%, 69%);

                .line {
                    width: 37px;
                    height: 1px;
                    border: 1px solid $color-4;
                }
            }
        }

        .desktop-text {
            display: flex;
            justify-content: space-around;
            width: 100%;

            .desktop {
                width: 40%;
                height: 100%;
                transform: translate(0%, -1%);
            }

            .black-box {
                display: none;
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 45%;
                height: 92%;
                transform: translate(-1%, -1%);

                .head {
                    transform: translate(0%, 16%);
                    font-family: 'Raleway', sans-serif;
                    font-size: 31px;
                    font-weight: 800;
                    line-height: 19px;
                    word-spacing: -4.9px;
                }

                .underline {
                    display: none;
                    width: 93%;
                    height: 1px;
                    border: 1px solid $color-5;
                }

                .paragraph {
                    width: 99%;
                    transform: translate(0%, -9.1%);
                    color: $color-5;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    line-height: 27px;
                }

                .features {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                  
                    .feature {
                        display: flex;
                        justify-content: space-between;
                        width: 46%;
                        height: 78px;
                        margin-bottom: 46px;

                        &:nth-child(3) {
                            margin-bottom: 0;
                        }

                        &:nth-child(4) {
                            margin-bottom: 0;
                        }

                        .elipse {
                            width: 63px;
                            height: 63px;
                            border-radius: 50%;
                            background-color: $color-6;
                        }

                        .settings {
                            background-image: url(/images/about/settings.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        .location {
                            background-image: url(/images/about/location.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        .heart {
                            background-image: url(/images/about/heart.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        .new {
                            background-image: url(/images/about/new.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        .feat {
                            display: flex;
                            flex-direction: column;
                            width: 185px;

                            h1 {
                                transform: translate(8%, 0%);
                                color: $color-2;
                                font-family: 'Raleway', sans-serif;
                                font-size: 18px;
                                font-weight: 900;
                                line-height: 19px;
                                text-transform: uppercase;
                                word-spacing: -5px;
                            }

                            p {
                                transform: translate(9%, 19%);
                                color: $color-5;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 13px;
                                line-height: 24px;
                            }
                        }
                    }
                }

                .features-2 {
                    display: none;

                    .feat-2 {
                        display: flex;
                    }
                }
            }
        }
    }
}
