.about{
    height:1145px;
       .about-container{
           height:1010px;
           margin-top: 72px;
           width: 93%;
   
           .about-header{
   
               .whoweare{
                   transform: translate(1%);
                   word-spacing: -6px;
               }
           }
   
           .desktop-text{
               
               flex-direction: column;
               .desktop{display:none;}
               .black-box{
                   display: block;
                   width: 100%;
                   height: 90.5%;
                   transform:translate(-0.2%, -44%);
           }
               .text{
                   display:flex;
                   flex-direction:column;
                   align-content: space-between;
                   width: 81%;
                   transform: translate(-0.5%,-53.6%);
                   .head{
                      font-size:25px;
                      line-height:13px;
                   }
                   .underline{display:block;}
   
                   .paragraph{
                       font-size: 13px;
                       transform: translate(0%, 66%);
                       line-height: 23px;
                       width: 100%;
                   }
                   .features{display:none;}
                   .features-2{
                       display:flex;
                       flex-direction: column;
                       align-content: center;
                       transform: translate(0%, 42%);
   
                       .feat-2{
                           
                           margin-bottom: 20px;                                            
   
   
                           img{    width: 16px;
                               height: 16px;
                           margin-right:16px;}
   
                               p{
                                   font-family: 'Open Sans';
                                   font-size: 13px;
                                   transform: translate(0%, -9%);
                                   line-height: 23px;
                               }
   
                               
                   }
               }
           }
       }
   
   }
   }