.header {
    width: 100%;
    background: $color-2;
    display: flex;
    justify-content: center;

    .container {
        width: 1169px;
        display: flex;
        justify-content: space-between;

        .logo {
            margin-top: 30px;
            margin-bottom: 31.5px;
            font-family: 'Raleway', sans-serif;
            font-size: 36px;
            line-height: 22px;
            font-weight: 100;
            color: $color-1;
            text-decoration: none;
            text-transform: capitalize;


        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 6px;


            a {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 21.36px;
                color: $color-1;
                text-decoration: none;
                text-transform: uppercase;
                margin-right: 40px;


                &:nth-child(8) {
                    margin-right: 0px;

                }

            }

        }

        .burger {
            position: relative;
            width: 54px;
            height: 37px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color-3;
            margin-top: 38px;
            margin-right: -2px;




            div {
                border: 1px solid $color-1;
                width: 30px;
                height: 2px;
                margin-bottom: 2.8px;

                &:nth-child(3) {
                    margin-bottom: 0px;
                }
            }

            &::before {
                content: "";
                width: 51px;
                height: 34px;
                border: 1px solid $color-1;
                position: absolute;

            }


        }



    }

}