.header {

    .container {
        width: 93%;

        .logo {
            margin-bottom: 21.5px;
            font-size: 27px;

            img {
                width: 20px;
            }
        }

        nav {
            display: none;
        }

        .burger {
            width: 48px;
            height: 31px;
            margin-top: 33px;
            margin-right: 20px;

            div {
                width: 22px;
            }

            &::before {
                width: 40px;
                height: 25px;
            }
        }
    }
}
